region       = "us-east-1"
db_username  = "postgres"
db_password  = "postgres"
my_ip        = "your-home-ip-address"
aws_profile  = "your-profile"
ssh_pub_key  = "~/.ssh/your-key-for-ec2.pub"
github_repo  = "your-git-profile/your-project.git"
git_branch   = "your-branch-if-not-main"
github_token = "your-github-token"
